@charset "utf-8";
/* CSS Document */

.faq {
	margin: 4em auto;
	position: relative;
	border-radius: 1rem;
}

.faq-title {
	text-align: center;
	padding-top: 1em;
}

.faq-desc {
	text-align: center;
	padding-bottom: 2em;
}
	
}.animation-hover {
  transition: transform .2s; /* Animation */
}

.animation-hover:hover {
  transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.faq-info {
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 2em;
}

.faq :is(h5) {
	padding-top: 1em;
	padding-bottom: 1em;
}

table {
	border-radius: 15px 15px 15px 15px;
	overflow: hidden;
}

.thead{
	background-color: #242220;
	color: white;
}

th {
	font-weight: normal;
}

.faq a:link {
	color: #A67017;
	text-decoration: none;	 
}

.faq a:visited {
	color: #A67017;
	text-decoration: none;	 
}